<div *ngIf="movielength > 0">
  <div class="vidoes">
    <div class="container">
      <div class="row" >
        <div class="movie-trailer" >
          <iframe class=" col-sm-4 col-xs-12" *ngFor="let video of filtermovie"
                  allowfullscreen="allowfullscreen"
                  mozallowfullscreen="mozallowfullscreen"
                  msallowfullscreen="msallowfullscreen"
                  oallowfullscreen="oallowfullscreen"
                  webkitallowfullscreen="webkitallowfullscreen"
                  [src]="video | safe">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
