


<div class="cinememas">
<div class="container">
  <div class="row">
    <div class="cinema-card col-md-3 col-sm-6 col-xs-12">
      <div class="cinema-img">
        <img src="assets/1988c8e.jpg"/>
      </div>
        <div class="cinema-content">

            <h3>cinema 1</h3>
            <div class="cinema-go">
              <a routerLink="/reserve/1/{{movieid}}">reserve at cinema 4</a>
            </div>
        </div>

      </div>
    <div class="cinema-card col-md-3 col-sm-6 col-xs-12">
      <div class="cinema-img">
        <img src="assets/88911767.jpg"/>
      </div>
      <div class="cinema-content">

        <h3>cinema 2</h3>
        <div class="cinema-go">
          <a routerLink="/reserve/2/{{movieid}}">reserve at cinema 4</a>
        </div>
      </div>

    </div>
    <div class="cinema-card col-md-3 col-sm-6 col-xs-12">
      <div class="cinema-img">
        <img src="assets/multiplex-cinema-500x500.jpg"/>
      </div>
      <div class="cinema-content">

        <h3>cinema 3</h3>
        <div class="cinema-go">
          <a routerLink="/reserve/3/{{movieid}}">reserve at cinema 4</a>
        </div>
      </div>

    </div>
    <div class="cinema-card col-md-3 col-sm-6 col-xs-12">
      <div class="cinema-img">
        <img src="assets/Cinema-Vox-banner_0.png"/>
      </div>
      <div class="cinema-content">

        <h3>cinema 4</h3>
        <div class="cinema-go">
          <a routerLink="/reserve/4/{{movieid}}">reserve at cinema 4</a>
        </div>
      </div>

    </div>
    </div>

  </div>
</div>


<!--
<div class="reserve">
  <div class="container">
    <div class="row">

      <div class="cinema col-sm-3">
        <div class="cinema-img">
          <img src="assets/1988c8e.jpg"/>
        </div>
        <div class="cinema-info">
          <div class="cinema-name">
            <h3>cinema 1</h3>
          </div>
          <div class="cinema-go">
            click here to reserve the movie
          </div>
        </div>
      </div>
      <div class="cinema col-sm-3">
        <div class="cinema-img">
          <img src="assets/88911767.jpg"/></div>
        <div class="cinema-info">
          <div class="cinema-name">
            <h3>cinema 1</h3>
          </div>
          <div class="cinema-go">
            click here to reserve the movie
          </div>
        </div>
      </div>
      <div class="cinema col-sm-3">
        <div class="cinema-img">
          <img src="assets/multiplex-cinema-500x500.jpg"></div>
        <div class="cinema-info">
          <div class="cinema-name">
            <h3>cinema 1</h3>
          </div>
          <div class="cinema-go">
            click here to reserve the movie
          </div>
        </div>
      </div>
      <div class="cinema col-sm-3">
        <div class="cinema-img">
          <img src="assets/Cinema-Hall.jpg">
        </div>
        <div class="cinema-info">
          <div class="cinema-name">
            <h3>cinema 1</h3>
          </div>
          <div class="cinema-go">
            <a routerLink="/reserve/4/{{movieid}}">reserve at cinema 4</a>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
-->

<!--
<div class="reserve">

  <div class="cinema">
    <div class="container">
      <div class="cinema-icon">
        <img src="assets/cinema.png">
      </div>
      <div class="cinema-name">
        <h3>cinema 1</h3>
      </div>
      <div class="cinema-go">
        this is
      </div>
    </div>

  </div>
  <div class="cinema">
    <div class="container">
      <div class="cinema-icon">
        <img src="assets/video-camera.png">
      </div>
      <div class="cinema-name">
          <h3>cinema 2</h3>
      </div>
      <div class="cinema-go">

      </div>
    </div>
  </div>

  <div class="cinema">
    <div class="container" >
      <div class="cinema-icon">
        <img src="assets/popcorn.png">
      </div>
      <div class="cinema-name">
        <h3>cinema 3</h3>
      </div>
      <div class="cinema-go">
        this is ci
    </div>
  </div>

  <div class="cinema">
    <div class="container">
        <div class="cinema-icon">
          <img src="assets/popcorn_1.png">
        </div>
        <div class="cinema-name">
          <h3>cinema 4</h3>
        </div>
        <div class="cinema-go">
          this is cinema g
        </div>
      </div>
    </div>

</div>
-->

<!--
<div class="cinema-button">
  <a routerLink="/reserve/4/{{movieid}}">click to reserve the movie</a>
</div>-->
