*{
  box-sizing: border-box;
}
.container {
  padding-top: 10px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.movie-data{
  width: 100%;
  display: inline-block;
}
.movie-header{
  position: relative;
  height: 610px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}
.movie-data .movie-header .movie-background{
  width: 100%;
  height: 100%;
}
.movie-data .movie-header .movie-background > img {
  height:100%;
  width: 100%;
  filter:blur(5px);
}
.movie-data .movie-header .movie-content {

  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(51,51,51,.6);
  height: 100%;
  width: 100%;
  color:#FFF;
}
.movie-data .movie-header .movie-content .row  {
  width: 100%;
  height: 100%;
}
.movie-data .movie-header .movie-content .row .container {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.movie-data .movie-header .movie-content .container .movie-poster {
  height: 100%;
  margin-top: 0px;

}
.movie-data .movie-header .movie-content .container .movie-poster > img {
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}
.movie-data .movie-header .movie-content .container .movie-poster > img:hover {
  box-shadow: -5px 5px 7px -5px rgba(255,255,255,1);
  transform: scale(1.02);
}

.movie-data .movie-header .movie-content .movie-details {
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  border-radius: 10px;
}
.movie-data .movie-header .movie-content .movie-details > div {
  transition:all .25s ease-in-out;
  background-color: rgba(51,51,51,.3);
  border-radius: 2px;
}
.movie-data .movie-header .movie-content .movie-details > div:hover {
  transform:scale(1.02);
}
.movie-data .movie-header .movie-content .movie-details .movie-title {
  height: 10%;
}
.movie-data .movie-header .movie-content .movie-details .movie-title h3 {
  font-size :28px;
  padding: 2px;
  text-align: center;
}
.movie-data .movie-header .movie-content .movie-details .movie-cat {
  padding: 3px;
  height: 15%;
  color:#333;
  text-align: center;
}
.movie-data .movie-header .movie-content .movie-details .movie-cat span {
  display: inline-block;
  padding: 8px 15px;
  font-size: 15px;
  background-color: #222222;
  margin: 2px;
  border-radius: 3px;
  color: #FFF;
}

.movie-data .movie-header .movie-content .movie-details .release-date {
  height: 8%;
  text-transform: capitalize;
  text-align: center;
  font-size: 28px;
}
.movie-data .movie-header .movie-content .movie-details .movie-rating {
  height: 10%;
  text-align: center;
  font-size: 25px;
}
.movie-data .movie-header .movie-content .movie-details .movie-rating i {
  color:yellow;
  /*-webkit-box-shadow: 0px 0px 17px 4px rgba(255,255,0,1);
  -moz-box-shadow: 0px 0px 17px 4px rgba(255,255,0,1);
  box-shadow: 0px 0px 17px 4px rgba(255,255,0,1);*/
  margin: 2px;
}

.movie-data .movie-header .movie-content .movie-details .movie-overview {
  min-height: 10%;
  max-height: 40%;
}
.movie-data .movie-header .movie-content .movie-details .movie-overview p{
  padding: 20px;
  font-size: 18px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}



@media (max-width: 768px){
  .movie-header{
    height: 900px;
  }
  .movie-data .movie-header .movie-content {
    height: 100%;
    text-align: center;
  }
  .movie-data .movie-header .movie-content .container .movie-poster {
    height: 40%;
    padding: 5px;
  }
  .movie-data .movie-header .movie-content .container .movie-poster > img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .movie-data .movie-header .movie-content .container .movie-details {
    height: 60%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-title h3{
    font-size: 1.35em;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-cat span{
    font-size: 14px;
    padding: 9px
  }
  .movie-data .movie-header .movie-content .movie-details .release-date {
    font-size: 1.35em;

  }
  .movie-data .movie-header .movie-content .movie-details .movie-overview p {
    width: 95%;
    font-size: 18px;
  }

}
@media (max-width: 410px){
  .movie-data .movie-header .movie-content .container .movie-poster > img {
    width: 100%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-title h3{
    font-size: 1.2em;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-cat{
    height: 20%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-cat span{
    font-size: 12px;
  }
  .movie-data .movie-header .movie-content .movie-details .release-date {
    font-size: 18px;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-rating{
    font-size: 18px;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-overview p {
    width: 98%;
    font-size: 16px;
  }
}
/*
.movie-data .movie-header .movie-content .movie-details {
  padding: 5px 10px 10px 25px;
}
.movie-data .movie-header .movie-content .movie-details .row {
  width: 95%;
  margin: 0 auto;
  height: 15%;
  margin-top: 3%;
}
.movie-data .movie-header .movie-content .movie-details .row .icon {
  display: inline-block;
  width: 5%;
  font-size: 30px;
}
.movie-data .movie-header .movie-content .movie-details .movie-genre > span{
  display: inline-block;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  margin-left: 3px;
  background-color: #444;
  font-size: 14px;
  font-style: italic;
}
.movie-data .movie-header .movie-content .movie-details .movie-title h3 {
  font-size: 47px;
  margin: 5px;
  text-align: left;
  color: #DA9;
}
.movie-data .movie-header .movie-content .movie-details .overview p {
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  color: #5FB;
  width: 100%;
}
.movie-data .movie-header .movie-content .movie-details .release-date h3 {
  font-size: 30px;
  color: #DA9;
  width: 50%;
  display: inline-block;
  margin-left: 5%;

}
.movie-data .movie-header .movie-content .movie-details .row .imdb {
  height: 10%;
  width: 10%;
  display: inline-block;
}
.movie-data .movie-header .movie-content .movie-details .row .imdb > img {
  height: 100%;
  width: 100%;
}
.movie-data .movie-header .movie-content .movie-details .vote-average h4 {
  font-size: 18px;
  display: inline-block;
  width: 50%;
  margin-left: 5%;
  margin-top: 0;
  height: 100%;
}
.movie-data .movie-header .movie-content .movie-details .movie-time .icon{
  width: 10%;
  display: inline-block;
}
.movie-data .movie-header .movie-content .movie-details .movie-time .icon > img {
  height: 100%;
  width:100%;
}
.movie-data .movie-header .movie-content .movie-details .movie-time h3 {
  font-size: 18px;
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-top: 0;
  height: 100%;
}
*/


/*
@media (max-width: 768px){
  .movie-header{
    height: 900px;
  }
  .movie-data .movie-header .movie-content .container .movie-poster{
    height: 48%;
    width: 75%;
    margin: 1% 12% 2% 12%;
    display: block;
  }
  .movie-data .movie-header .movie-content .container .movie-poster > img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .movie-data .movie-header .movie-content .movie-details{
    width: 95%;
    height: 52%;
    display: inline-block;
    padding: 0;
  }
  .movie-data .movie-header .movie-content .movie-details .row{
    width: 100%;
    margin-top: 1%;
    height: auto;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-title h3{
    font-size: 25px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .movie-data .movie-header .movie-content .movie-details .release-date h3{
    width: 77%;
    font-size: 18px;
    margin-left: 1%;
  }
  .movie-data .movie-header .movie-content .movie-details .row .icon{
    width: 20%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-genre {
    display: inline-block;
    height: auto;
    width: 99%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-genre > span{
    width: 45%;
  }
  .movie-data .movie-header .movie-content .movie-details .overview p{
    font-size: 13px;
    width: 100%;
    padding-top: 4px;
  }
  .movie-data .movie-header .movie-content .movie-details .row .imdb {
    width: 10%;
  }
  .movie-data .movie-header .movie-content .movie-details .vote-average h4{
    font-size: 16px;
    margin-left: 2%;

  }
  .movie-data .movie-header .movie-content .movie-details .movie-time .icon{
    width: 7%;
    height: 50%;
  }
  .movie-data .movie-header .movie-content .movie-details .movie-time h3{
    font-size: 15px;
    width: 30%;
    margin-left: 1%;
  }

}
*/


/*
there si still under 350px width the */

.movie-data {
  background-color: #DDD;
  position: relative;
}
.movie-data .movie-background {
  height: 100%;
  width: 100%;
}
.movie-data .movie-background > img {
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.movie-data .movie-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

